@use '../../../theme/values/mediaqueries' as *;
@use '../../../theme/values/colors' as *;

.navigation__nav {
	display: flex;
	align-items: center;
	padding: 12px 16px 0;
	gap: 12px;
	flex-wrap: wrap;

	@media (min-width: $medium) {
		padding: 16px 20px 0;
		gap: 24px;
	}
}

.navigation__logo {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: -0.84px;
	color: $white;
	text-decoration: none;

	@media (min-width: $medium) {
		font-size: 28px;
	}
}

.navigation__links {
	display: flex;
	gap: 12px;

	@media (min-width: $medium) {
		gap: 16px;
	}
}

.navigation__link {
	color: $grey_light;
	text-decoration: none;
	font-size: 0.85em;

	&:hover {
		color: $white;
	}

	@media (min-width: $medium) {
		font-size: 0.9em;
	}
}

.navigation__sync {
	margin-left: auto;
}
