// ###### ---- ###### COLORS ###### ---- ######
$primary_light: #5cdfe7;
$primary: #00adb5;
$primary_dark: #007d85;

$primary_darken_dark: #00363a;
$primary_darken: #006064;
$primary_darken_light: #428e92;

// $secondary_light: ;
// $secondary: ;
// $secondary_dark: ;

// $secondary_darken_dark: ;
// $secondary_darken: ;
// $secondary_darken_light: ;

// ------------------------------------

$white_light: #fff;
$white: #f5f5f5;
$white_dark: #c2c2c2;

$grey_light: #8e8e8e;
$grey: #616161;
$grey_dark: #373737;

$black_light: #484848;
$black: #212121;
$black_dark: #121212;
$black_darken: #000;

$background: #121212;

$success: #66bb6a;
$error: #f44336;
$info: #2f89fc;

// Sombras
$shadow_color: rgba($white, 0.08);
$shadow_color_strong: rgba($white, 0.15);

// Semánticos
$relative_major: #439124;
$relative_minor: #20b2aa;
$degree_tonica_bg: #ffe08a;
$degree_importante_bg: #c8f7c5;
$degree_evitar_bg: #f7c5c5;
