// Mediaqueries
$small: 320px; // movil
$smallL: 568px; // movil large
$medium: 769px; // tablet
$max-mobile: 768px; // max-width for mobile (< 769px)
$large: 1025px; // desktop
$xlarge: 1441px; // extra large
