// Sizes
$full: 100%;
$vw: 100vw;
$vh: 100vh;

$button-height: 30px;
$list-element-height: 50px;

// Paddings y Espaciados
$padding-container-tb: 10px;
$padding-container-lr: 20px;
$padding-container: $padding-container-tb $padding-container-lr;
$pad-tb: 5px;
$pad-lr: 10px;
$pad: $pad-tb $pad-lr;
$gap: 10px;

// radius
$ball: 50%;
$smooth: 6px;
$thin: 3px;

// Navigation
$navigation-height: 60px;
$navigation-width-mobile: 300px;
$navigation-width: 180px;

// Player
$player-mobile-height: 100px;
$volume-width: 200px;
$volume-height: 5px;
