@use '../../theme/values/colors' as *;
@use '../../theme/values/sizes' as *;
@use '../../theme/values/mediaqueries' as *;

.dashboard {
  padding: 16px;

  @media (min-width: $medium) {
    padding: 20px;
  }
}

.dashboard__title {
  color: $white;
  margin: 0 0 24px;
}
