@use '../../theme/values/colors' as *;
@use '../../theme/values/sizes' as *;
@use '../../theme/values/mediaqueries' as *;

.shifts-page {
  padding: 16px;

  @media (min-width: $medium) {
    padding: 20px;
  }
}

.shifts-page__title {
  color: $white;
  margin: 0 0 16px;
}
