@use '../../theme/values/colors' as *;
@use '../../theme/values/sizes' as *;
@use '../../theme/values/mediaqueries' as *;

.stock-page {
  padding: 16px;

  @media (min-width: $medium) {
    padding: 20px;
  }
}

.stock-page__title {
  color: $white;
  margin: 0 0 16px;
}

.stock-page__toolbar {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 16px;
  flex-wrap: wrap;

  @media (min-width: $medium) {
    gap: 12px;
  }
}
