@use '../../theme/values/sizes' as *;
@use '../../theme/values/mediaqueries' as *;

.tasks-page {
  padding: 16px;

  @media (min-width: $medium) {
    padding: 20px;
  }
}

.tasks-page__title {
  margin: 0 0 16px;
}

.tasks__grid {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (min-width: $medium) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
